@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;600&family=Lato:wght@100;300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-bg: #0f1729;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'JetBrains Mono', monospace !important;
  font-weight: lighter;
}

.trainerSection {
  height: 100vh;
  background: var(--main-bg);
}
.trainerSection__content::-webkit-scrollbar {
  display: none;
}
.trainerSection__content {
  padding: 2rem;
  line-height: 1.8;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cm-theme-dark {
  height: 100%;
}

.cm-editor {
  background: var(--main-bg) !important;
  font-size: 1.4em;
}

iframe {
  height: 100%;
  width: 100%;
  color: white;
  background: white;
}

.split {
  height: 100%;
}

.xterm .xterm-viewport {
  overflow-y: hidden !important;
  background: var(--main-bg) !important;
}

.terminal {
  background: var(--main-bg) !important;
  overflow: hidden;
  height: 100%;
}

.split-horizontal {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}